{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}SOCIALMEDIA10X{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'landing' %}">SOCIALMEDIA10X</a>

    <div class="ms-auto">
      {% if user.is_authenticated %}
        <span class="text-white me-3">
          Olá, {{ user.first_name|default:user.username }}
        </span>
        <a href="{% url 'home' %}" class="btn btn-outline-light btn-sm me-2">Entrar</a>
        <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Sair</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-light btn-sm me-2">Entrar</a>
        <a href="{% url 'signup' %}" class="btn btn-primary btn-sm">Começar agora</a>
      {% endif %}
    </div>
  </div>
</nav>

<main>
  {% block content %}{% endblock %}
</main>

<footer class="py-3 bg-dark text-center text-white-50 mt-5">
  <small>Plataforma SocialMedia10x - Projeto Desenvolvimento Web Mobile</small>
</footer>

<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
